ceng543_m_q1/logs/*
ceng543_m_q1/models/*
ceng543_m_q1/outputs/*
ceng543_m_q1/src/__pycache__/*

ceng543_m_q2/logs/*
ceng543_m_q2/checkpoints/*
ceng543_m_q2/outputs/*
ceng543_m_q2/run_logs/*

ceng543_m_q3/q3_experiments/*
ceng543_m_q3/q3_results/*
ceng543_m_q3/outputs/*/
ceng543_m_q3/src/__pycache__/*

ceng543_m_q4/data/*
ceng543_m_q4/models/*
ceng543_m_q4/outputs/*

ceng543_m_q5/__pycache__/*
ceng543_m_q5/ouputs/*
ceng543_m_q5/outputs/*